<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <style type="text/css">
      @import url("../static/제발_css.css");
    </style>
    <script>
      var queryString = decodeURIComponent(window.location.search);
      queryString = queryString.substring(1);
      var p_ary = queryString.split(",");
      p_ary[0] = p_ary[0].split("=")[1];

      for(i=0 ; i< 12 ; i++){
        p_ary[i] = Number(p_ary[i]);
      }

      function f4_1(){
        p_ary[0] += 20;
        p_ary[4] += 20;
        p_ary[9] += 20;
        var queryString = "?p_ary=" + p_ary;
        window.location.href = "q5" + queryString;
      }


      function f4_2(){
        p_ary[1] += 20;
        p_ary[5] += 20;
        p_ary[6] += 20;
        p_ary[7] += 20;
        var queryString = "?p_ary=" + p_ary;
        window.location.href = "q5" + queryString;
      }

      function f4_3(){
        p_ary[2] += 20;
        p_ary[8] += 20;
        p_ary[11] += 20;
        var queryString = "?p_ary=" + p_ary;
        window.location.href = "q5" + queryString;
      }

      function f4_4(){
        p_ary[3] += 20;
        p_ary[10] += 20;
        var queryString = "?p_ary=" + p_ary;
        window.location.href = "q5" + queryString;
      }
    </script>
  </head>
  <body>
    <div class="qustion-box">
      <h3 class="question-text">
        Q4. 당신이 GKSF 팀원이라면 맡고 싶은 역할은?
      </h3>
    </div>
    <form name="fm" action="" method="post">
    <div class="btn-group" >
      <button type='button' class="button" name = 'q4' value='combat' onClick='f4_1()'/>직접 부스를 꾸미는 기획팀
      <button type='button' class="button" name = 'q4' value='comm' onClick='f4_2()'/>GKSF를 알려 참가자들을 모으는 홍보팀
      <button type='button' class="button" name = 'q4' value='diplo' onClick='f4_3()'/>연사를 섭외하고 의전하는 세션팀
      <button type='button' class="button" name = 'q4' value='insight' onClick='f4_4()'/>GKSF의 전반적인 것들을 관리하며 중요한 사안들을 확인하는 코어팀
    </div>
    </form>
  </body>
</html>
